body {
    font-family: 'Source Sans Pro', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 400;
}

h1 {
    text-align: center;
}

a {
    text-decoration: none;
}

label {
    padding-right: 8px;
}

button {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    font-size: 1.4em;
    padding: .25em .75em;
    background-color: #BDD8FF;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 2px 3px 2px #D6CAC7;
    margin: 0px 4px;
}

.container {
    width: 100%;   
}

.emojiDisplay {
    width: 85%;
    margin: 0px auto;
    padding-bottom: 10px;
}

.emojiIpsum {
    text-align: left;
    border-radius: 5px;
    box-shadow: 0px 2px 3px 2px #D6CAC7;
}

.emojiIpsum p {
    width: 96%;
    margin: 0px auto;
    word-spacing: 10px;
    letter-spacing: -1px;
}

.genPara, .togglePlain {
    text-align:center;
}

.buttons {
    text-align:center;
    padding: 10px;
}

.emojiPlain {
    display: none;
    height: 350px;
}

.emojiIpsum,.emojiPlain {
    width: 100%;
    margin: 0px auto;
}

.introPara {
    padding: 10px;
    width: 90%;
    margin: 0px auto;
}

.settingsDisplay {
    width: 85%;
    margin: 10px auto;
    display: none;
    padding-bottom: 12px;
    
}

.saveSettings {
    margin-top: .75em;
    font-size: 1em;
    text-align: right;
}

fieldset {
    text-align: left;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 2px 3px 2px #D6CAC7;
}

fieldset table tr td:first-child {
    padding-left: 36px;
}

textarea {
    font-family: 'Inconsolata', 'Consolas', 'Monaco', 'Courier New', monospace;
}

.footer {
    text-align: center;
}