body {
    font-family: 'Source Sans Pro', sans-serif;
}

.container {
    width: 100%;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 400;
}

h1 {
    text-align: center;
}

.emojiIpsum {
    text-align: left;
}

.buttons {
    margin: 0px auto;
}

.emojiPlain {
    display: none;
    height: 350px;
}

.emojiIpsum,.emojiPlain {
    width: 100%;
}